<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-content col-thin-right">
                <div class="inner-box category-content">
                    <h2 class="title-2 text-center">Free Website Development</h2>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 ">
                            <div class="cat-list">
                                <h3 class="cat-title">
                                    <a href="/project/skills/web"><i class="fa fa-code ln-shadow"></i> Web</a>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-3">
                                    <li> <a href="/project/skills/php">PHP</a></li>
                                    <li> <a href="/project/skills/mean">MEAN Stack</a></li>
                                    <li> <a href="/project/skills/python">Python </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="cat-list">
                                <h3 class="cat-title">
                                    <a href="/project/skills/mobile"><i class="fa fa-tablet"></i> Mobile</a>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-6">
                                    <li> <a href="/project/skills/android">Android</a> </li>
                                    <li> <a href="/project/skills/ios">iOS</a> </li>
                                    <li> <a href="/project/skills/windows">Windows</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4   last-column">
                            <div class="cat-list ">
                                <h3 class="cat-title">
                                    <a href="/project/skills/design"><i class="fa fa-picture-o ln-shadow"></i> Design </a>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-8">
                                    <li> <a href="/project/skills/photoshop">Photoshop </a> </li>
                                    <li> <a href="/project/skills/posters">Posters </a> </li>
                                    <li> <a href="/project/skills/logo">LOGO </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 page-content col-thin-right">
                <div class="inner-box category-content">
                    <h2 class="title-2">Projects</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>#Bids</th>
                                <th>Budget</th>
                                <th>Categories</th>
                            </tr>
                        </thead>
                        <tbody>
                            {script $i = 1} {foreach $job in $jobs}
                            {script $bids = Bid::all(array("job_id = ?" => $job->id), array("amount"))}
                            <tr>
                                <td>{echo $i}</td>
                                <td>
                                    <a href="/project/display/{echo urlencode($job->title)}/{echo $job->id}">{echo $job->title}</a>
                                </td>
                                <td>{echo $job->type}</td>
                                {if (!empty($bids))}
                                    {script $average = 0}
                                    {foreach $b in $bids}
                                        {script $average += $b->amount}
                                    {/foreach}
                                    <td>{echo count($bids)}</td>
                                    <td>${echo $average}</td>
                                {/if}
                                {else}
                                    <td>0</td>
                                    <td>${echo $job->budget}</td>
                                {/else}
                                <td>
                                    {script $jobCat = Category::all(array("property = ?" => "job", "property_id = ?" => $job->id))}
                                    {script $count = count($jobCat)} {script $i = 1}
                                    {foreach $cat in $jobCat}
                                        {script $skill = Skill::first(array("id = ?" => $cat->skill_id), array("id", "name"))}
                                        <a href="/project/skills/{echo urlencode($skill->name)}">{echo $skill->name}</a>{if ($i < $count)}, {/if}
                                        {script $i++}
                                    {/foreach}
                                </td>
                            </tr>
                            {script $i++} {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>