<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center">Job Summary</h1>
                <h2 class="page-heading">Job Details</h2>
                <div class="panel panel-default">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Job Type:</strong></td>
                                <td>{echo ucfirst($job->type)}</td>
                            </tr>
                            <tr>
                                <td><strong>Budget:</strong></td>
                                <td>{echo $job->budget}</td>
                            </tr>
                            <tr>
                                <td><strong>Skills:</strong></td>
                                <td>
                                    {script $count = count($categories)} {script $i = 1}
                                    {foreach $cat in $categories}
                                        {script $skill = Skill::first(array("id = ?" => $cat->skill_id), array("id", "name"))}
                                        <a href="/project/skills/{echo urlencode($skill->name)}">{echo $skill->name}</a>{if ($i < $count)}, {/if}
                                        {script $i++}
                                    {/foreach}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Details:</strong></td>
                                <td>{echo $job->details}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-heading">Buyer Details</h2>
                <div class="panel">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>User:</strong></td>
                                <td>{echo $user->username}</td>
                            </tr>
                            <tr>
                                <td><strong>Location:</strong></td>
                                <td>{echo $user->location}</td>
                            </tr>
                            <tr>
                                <td><strong>Joined:</strong></td>
                                <td>
                                    {script $unixdatetme = strtotime($user->created)}
                                    {echo strftime("%B %d, %Y", $unixdatetme)}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="row">
            {if !empty($bids)}
            <div class="col-sm-12 page-content col-thin-right">
                <div class="inner-box category-content">
                    <h2 class="title-2">Bids</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>User</th>
                                <th>Location</th>
                                <th>Bid Amount</th>
                                <th>Rating</th>
                                <th>Delivery Time</th>
                            </tr>
                        </thead>
                        <tbody>
                           {script $i = 1}
                           {foreach $bid in $bids}
                            <tr>
                                <td>{echo $i}</td>
                                <td>{echo $bid->user}</td>
                                <td>{echo $bid->user_location}</td>
                                <td>${echo $bid->amount}</td>
                                <td>{echo $bid->user_rating}</td>
                                <td>{echo $bid->delivery_time}</td>
                            </tr>
                            {script $i++} {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            {/if}
            <h2><a href="/project/bid/{echo $job->id}"><i class="fa fa-plus"> Place Bid</i></a></h2>
        </div>
    </div>
</div>
