<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-content col-thin-right">
                <div class="inner-box category-content">
                    <h2 class="title-2">Cloudstuffs</h2>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 ">
                            <div class="cat-list">
                                <h3 class="cat-title"><a href=""><i class="fa fa-code ln-shadow"></i> Web <span class="count">6375</span></a>
                                    <span data-target=".cat-id-3" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-3">
                                    <li> <a href="">PHP</a></li>
                                    <li> <a href="">MEAN Stack</a></li>
                                    <li> <a href="">Python </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="cat-list">
                                <h3 class="cat-title"><a href=""><i class="fa fa-tablet ln-shadow"></i> Mobile <span class="count">42,111</span></a> <span data-target=".cat-id-6" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-6">
                                    <li> <a href="">Android</a> </li>
                                    <li> <a href="">iOS</a> </li>
                                    <li> <a href="">Windows</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4   last-column">
                            <div class="cat-list ">
                                <h3 class="cat-title"><a href=""><i class="fa fa-picture-o ln-shadow"></i> Design <span class="count">5,30</span> </a> <span data-target=".cat-id-8" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-8">
                                    <li> <a href="">Photoshop </a> </li>
                                    <li> <a href="">Posters </a> </li>
                                    <li> <a href="">LOGO </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 page-content col-thin-right">
                <div class="inner-box category-content">
                    <h2 class="title-2">Projects</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>#Bids</th>
                                <th>Budget</th>
                                <th>Categories</th>
                            </tr>
                        </thead>
                        <tbody>
                            {script $i = 1} {foreach $job in $jobs}
                            {script $bids = Bid::all(array("job_id = ?" => $job->id), array("amount"))}
                            <tr>
                                <td>{echo $i}</td>
                                <td>
                                    <a href="/project/display/{echo urlencode($job->title)}/{echo $job->id}">{echo $job->title}</a>
                                </td>
                                <td>{echo $job->type}</td>
                                {if (!empty($bids))}
                                    {script $average = 0}
                                    {foreach $b in $bids}
                                        {script $average += $b->amount}
                                    {/foreach}
                                    <td>{echo count($bids)}</td>
                                    <td>${echo $average}</td>
                                {/if}
                                {else}
                                    <td>0</td>
                                    <td>${echo $job->budget}</td>
                                {/else}
                                <td>
                                    {script $count = count($job->categories)} {script $i = 1}
                                    {foreach $cat in $job->categories}
                                        {script $skill = Skill::first(array("id = ?" => $cat->skill_id), array("id", "name"))}
                                        <a href="/project/skills/{echo urlencode($skill->name)}">{echo $skill->name}</a>{if ($i < $count)}, {/if}
                                        {script $i++}
                                    {/foreach}
                                </td>
                            </tr>
                            {script $i++} {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>